.test {
  &__head {
    width: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 40px auto;
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-blue-dark);
  }

  &__question {
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;

    &--number {
      background-color: #e8f2ff;
      color: #35509a;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &--video {
      max-width: 650px;
      height: auto;

      video {
        width: 100%;
        height: 100%;
        clip-path: inset(0 16% 0 17%);
        left: -24px;
      }
    }
  }

  &__navigator {
    position: sticky;
    right: 0;
    top: 120px;

    &--title {
      margin-bottom: 10px;
    }

    &--timer {
      font-weight: 700;
      font-size: 3rem;
    }

    &--submit {
      margin: 20px 0;
    }

    &--question {
      display: inline-flex;
      border-radius: 3px;
      border-color: #f7faff;
      border: 1px solid;
      font-weight: 600;
      margin-right: 4px;
      margin-bottom: 8px;
      width: 28px;
      height: 25px;
      font-size: 11px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all .1s ease-in-out;

      &.active,
      &:hover {
        background: var(--bg-green-dark);
        border-color: var(--bg-green-dark);
        color: var(--color-white);
      }
    }
  }
}