.lesson {
  margin-bottom: 50px;

  &__head {
    text-align: center;
  }

  &__title {
    color: var(--color-blue-dark);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }

  &__description {
    color: var(--color-gray-one);
    font-size: 2rem;
    margin-bottom: 20px;
  }

  &__list {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
  }

  &__card {
    border-radius: 20px;
    border: 1px solid var(--color-gray-one);
    background: #FFF;
    box-shadow: 0 18.83px 47.08px 0 rgba(47, 50, 125, 0.10);
    text-align: center;
    position: relative;

    &--delete {
      position: absolute;
      font-size: 2.6rem;
      top: 6px;
      right: 12px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: red;
      cursor: pointer;
    }

    .ant-card-body {
      height: 200px;
      display: flex;
      flex-direction: column;
    }

    &--add {
      cursor: pointer;
    }

    &--icon {
      margin: auto;
      color: var(--color-blue-dark);

      svg {
        font-size: 3.6rem;
      }

      p {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    &--footer {
      margin: auto;
      margin-bottom: 0;
      max-width: max-content;
    }



    &--title {
      color: var(--color-black-two);
      font-size: 3rem;
      font-weight: 500;
      max-width: max-content;
      margin: 0 auto;
    }

    &--description,
    &--number {
      color: var(--color-gray-one);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 180%;
      /* 32.4px */
      letter-spacing: 0.36px;
    }

    &--number {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__pagination {
    margin-top: 50px;
  }
}