spring:
  datasource:
    url: jdbc:mysql://localhost:3307/khiem_thinh?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  data:
    google:
      client:
        id: ${GOOGLE_CLIENT_ID}

api:
  prefix: /api/v1
server:
  port: 8080
jwt:
  expiration: 2592000
  secretKey: bBmCgwRv2hC/424s0xvsQu3kI2fECuhjtziAysvD51s=
